<!--<aside class="menu">-->
    <!--<ul>-->
        <!--<li class="person">-->
            <!--<a href="index.html">个人中心</a>-->
        <!--</li>-->
        <!--<li class="person">-->
            <!--<a href="{:U('index')}">个人资料</a>-->
            <!--<ul>-->
                <!--<li> <a href="{:U('user_info')}">个人信息</a></li>-->
                <!--<li> <a href="{:U('safe')}">账户安全</a></li>-->
                <!--<li> <a href="{:U('checkuser')}">账户认证</a></li>-->


                <!--&lt;!&ndash;<li> <a href="{:U('address')}">收货地址</a></li>&ndash;&gt;-->
            <!--</ul>-->
        <!--</li>-->
        <!--<li class="person">-->
            <!--<a href="#">团队管理</a>-->
            <!--<ul>-->
                <!--<li> <a href="{:U('tuijianlist')}">我的推荐</a></li>-->

            <!--</ul>-->
        <!--</li>-->
        <!--&lt;!&ndash;<li class="person">&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="#">我的交易</a>&ndash;&gt;-->
            <!--&lt;!&ndash;<ul>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a href="{:U('user/orderlist')}">订单管理</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;</ul>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--<li class="person">-->
            <!--<a href="#">财务管理</a>-->
            <!--<ul>-->
                <!--<li> <a href="{:U('withdraw')}">提现 </a></li>-->
                <!--<if condition="session('User_yctr.level') eq 4">-->
                   <!--<a href="{:U('recharge')}">充值</a></li>-->

                <!--</if>-->
                <!--&lt;!&ndash;<li> <a href="{:U('recharge')}">充值</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li> <a href="{:U('zhuanzhang',array('type'=>1))}">账户互转</a></li>&ndash;&gt;-->
                <!--<li> <a href="{:U('zhuanzhang_user')}">商家补贴</a></li>-->

            <!--</ul>-->
        <!--</li>-->

        <!--<li class="person">-->
            <!--<a href="#">奖金管理</a>-->
            <!--<ul>-->
                <!--<li> <a href="{:U('reward_detail')}">奖金明细</a></li>-->
            <!--</ul>-->
        <!--</li>-->

    <!--</ul>-->

<!--</aside>-->