<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>GHA商城
    </title>
    <link href="__ADMIN__/css/admin.css" rel="stylesheet" type="text/css" />
    <link href="__ADMIN__/css/amazeui.css" rel="stylesheet" type="text/css" />
    <link href="__CSS__/demo.css" rel="stylesheet" type="text/css" />
    <script src="__ADMIN__/js/jquery.min.js"></script>
    <script src="__ADMIN__/js/amazeui.js"></script>
    <script src="__JS__/quick_links.js"></script>
</head>
<body>
