<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HPAY</title>
    <link rel="stylesheet" href="__WAPCSS__/mui.min.css">
    <link rel="stylesheet" href="__WAPCSS__/discover.css">

    <script src="__WAPJS__/zepto.min.js"></script>
    <script src="__WAPJS__/mui.min.js"></script>
    <script src="__WAPJS__/1.js"></script>
    <link rel="stylesheet" type="text/css" href="__WAPCSS__/common.css"/>


    <!--<link rel="stylesheet" type="text/css" href="__WAPCSS__/swiper.min.css"/>-->
    <!--<script src="__WAPJS__/jquery.min.js" type="text/javascript" charset="utf-8"></script>-->
    <!--<script src="__WAPJS__/main.js" type="text/javascript" charset="utf-8"></script>-->
    <!--<script src="__COMMON__/js/common.js" type="text/javascript" charset="utf-8"></script>-->
 <!---->
</head>