<!DOCTYPE html>
<html>

<head>
  <meta charset=utf-8>
  <meta name=viewport content="width=device-width,initial-scale=1">
  <title>kc</title>
  <link href=__WAPCSS__/app.88d95e525e9275504ff8d1521930aeac.css rel=stylesheet>
</head>

<body>
    <div id="app">
        <div data-v-b604e3ec="" class="login"><img data-v-b604e3ec="" src='__IMG__/logo.ba459fb.png' alt=""
            class="logo">
          <div data-v-b604e3ec="" class="login_form">
            <div data-v-b604e3ec=""><input data-v-b604e3ec="" type="text" placeholder="请输入手机号码"></div>
            <div data-v-b604e3ec=""><input data-v-b604e3ec="" type="password" placeholder="密码"></div>
          </div>
          <div data-v-b604e3ec="" class="login_btn">登录</div>
          <p data-v-b604e3ec="" class="login_other"><span data-v-b604e3ec=""><a data-v-b604e3ec="" href="#/"
                class="router-link-exact-active router-link-active">忘记密码</a></span>
            |
            <span data-v-b604e3ec=""><a data-v-b604e3ec="" href="./register.html" class="">注册账号</a></span></p>
        </div>
      </div>
<!-- 
  <script type=text/javascript src=static/js/manifest.3ad1d5771e9b13dbdad2.js> </script> 
  <script type=text/javascript src=static/js/vendor.2b98c6a7b254934683f2.js> </script> 
  <script type=text/javascript src=static/js/app.473875272b1b80bcd88c.js> </script> -->
   </body>
    </html>