<div class="long-title"><span class="all-goods">全部分类</span></div>
<div class="nav-cont">
    <ul>
        <li class="index"><a href="{:U('Index/index')}">首页</a></li>
        <li class="qc"><a href="{:U('goods/lists')}">全部商品</a></li>
        <li class="qc"><a href="{:U('index/newsdetail',array('id'=>11))}">公司简介</a></li>
        <li class="qc"><a href="{:U('index/newsdetail',array('id'=>13))}">联系我们</a></li>
        <li class="qc"><a href="{:U('index/newsdetail',array('id'=>15))}">公司招聘</a></li>
    </ul>

</div>