<include file="Public/head" />
<div id="statement">
    <div class="heads">
        <div class="container">
            <div class="p1">{$data.title}</div>
            <!--<a href="javascript:void(0);" id="goback"><img src="__WAPIMG__/arrowl.png"></a>-->
            <a href="{:U('Index/news')}" id="goback"><img src="__WAPIMG__/arrowl.png"></a>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="p1">
                {$data.content}
            </div>
        </div>
    </div>
</div>
</body>
<script src="__WAPJS__/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__WAPJS__/swiper.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__WAPJS__/main.js" type="text/javascript" charset="utf-8"></script>
</html>