<include file="Public/head" />

<div id="getMoney">
    <div class="heads">
        <div class="container">
            <div class="p1">会员充值</div>
            <!--<a href="javascript:void(0);" id="goback"><img src="__WAPIMG__/arrowl.png"></a>-->
            <a href="{:U('User/index')}" id="goback"><img src="__WAPIMG__/arrowl.png"></a>
        </div>
    </div>
    <div class="content">
        <div class="froms">
            <div class="container">
                <form action="{:U(recharge1)}" id="cp" method="post">
                    <div class="names">
                        <label for="">收款银行</label>
                        <input type="text" name="amount" value="{$config['bank_name']}" readonly>
                    </div>
                    <div class="names">
                        <label for="">收款银行支行</label>
                        <input type="text" name="amount" value="{$config['bank_zhi']}" readonly>
                    </div>
                    <div class="names">
                        <label for="">收款银行账户</label>
                        <input type="text" name="amount" value="{$config['bank_num']}" readonly>
                    </div>
                    <div class="names">
                        <label for="">收款人姓名</label>
                        <input type="text" name="amount" value="{$config['bank_user']}" readonly>
                    </div>
                    <div class="names">
                        <label for="">充值类型</label>
                        <select name="type" style="width: 100%;height:.8rem;border: .3rem;margin-top:-0.3rem;padding-left: .3rem;box-sizing: border-box;color: #313131;font-size: .3rem;line-height: .8rem;background: #f3f3f3;">
                            <option value="1">充值积分</option>
                            <!--<option value="2">流通积分</option>-->
                            <!--<option value="3">购物积分</option>-->
                            <!--<option value="4">兑换积分</option>-->
                        </select>
                    </div>
                    <div class="names">
                        <label for="">充值金额</label>
                        <input type="text" name="amount" placeholder="请输入充值金额">
                    </div>
                    <div class="names">
                        <label for="">支付密码</label>
                        <input type="password" name="password" placeholder="请输入支付密码">
                    </div>
                    <!--<div class="names">-->
                    <!--<label for="">短信验证码</label>-->
                    <!--<input type="hidden" id="phone" name="phone" value="{$data.username}" />-->
                    <!--<input type="text" name="code" placeholder="请输入验证码">-->
                    <!--<a href="javascript:void(0);" class="getcode" id="getCode">获取验证码</a>-->
                    <!--</div>-->
                    <input type="button" id="btn" name="" value="确 认">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script src="__WAPJS__/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__WAPJS__/swiper.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__WAPJS__/main.js" type="text/javascript" charset="utf-8"></script>
<script>
    $(function() {
        $('#btn').click(function () {
            $.ajax({
                type: "POST",
                url: "{:U('User/recharge1')}",
                data: $("#cp").serialize(),
                dataType: "json",
                success: function (data){
                    if(data.code > 0){
                        alert(data.message);
                        window.location.href = "{:U('Index/index')}";
                    }else{
                        alert(data.message);
                    }
                },
            })
        })
    });
</script>
</html>