<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   	<meta name="viewport" content="width=device-width, user-scalable=0,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="__WAPCSS__/transfer.css">
    <script src="__WAPJS__/1.js"></script>
</head>
<body>
    <div class="header">
            <a href="javascript:history.back(-1)"><img src="__IMG__/Return.png" alt=""></a>
           <h2>二维码收款</h2>
    </div>
    <div class="content">
            <div class="title">钱包地址
                <p>APvvzvzvvzbbnjjukuutyuriirureyeye</p>
            </div>
            <div class="pic">
                <img src="__IMG__/erweima.png" alt="">
            </div>
            <div class="save">保存图片</div>
        </div>
        <div class="copy">复制钱包地址</div>
    </div>
</body>
</html>