* {
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  background-color: #f6f5fa;
}
body .header {
  width: 100%;
  background: linear-gradient(to right, #1e91ff, #075ffe);
  height: 1.2rem;
  line-height: 1.2rem;
  position: relative;
  text-align: center;
}
body .header h2 {
  font-size: 0.3rem;
  color: #fff;
  font-weight: 400;
}
body .header a {
  text-decoration: none;
  display: inline-block;
  width: 0.2rem;
  height: 0.2rem;
  position: absolute;
  top: -0.2rem;
  left: 0.2rem;
}
body .header a img {
  width: 100%;
}
body .content {
  width: 100%;
  height: 6.7rem;
  background-color: #fff;
  margin-top: 0.2rem;
  box-sizing: border-box;
  padding: 0 0.2rem;
}
body .content .head {
  width: 100%;
  height: 1.5rem;
  line-height: 1.2rem;
  border-bottom: 1px solid #f1f1f1;
}
body .content .head span {
  font-size: 0.28rem;
  color: #414141;
}
body .content .head .tou {
  width: 0.8rem;
  height: 0.8rem;
  float: right;
  margin-top: 0.4rem;
  margin-right: 0.2rem;
}
body .content .head .arrow {
  float: right;
  width: 0.4rem;
  height: 0.4rem;
  margin-top: 0.7rem;
  width: 0.25rem;
  height: 0.25rem;
}
body .content .name,
body .content .time,
body .content .bank,
body .content .zfb,
body .content .tel {
  width: 100%;
  height: 1rem;
  line-height: 0.5rem;
  border-bottom: 1px solid #f1f1f1;
}
body .content .name span,
body .content .time span,
body .content .bank span,
body .content .zfb span,
body .content .tel span {
  font-size: 0.28rem;
  color: #414141;
}
body .content .name img,
body .content .time img,
body .content .bank img,
body .content .zfb img,
body .content .tel img {
  float: right;
  width: 0.25rem;
  height: 0.25rem;
  margin-top: 0.3rem;
}
body .content .name em,
body .content .time em,
body .content .bank em,
body .content .zfb em,
body .content .tel em {
  font-size: 0.22rem;
  font-style: normal;
  float: right;
  color: #a9a9a9;
  margin-right: 0.2rem;
  margin-top: 0.2rem;
}
body .content .zfb {
  border-bottom: 0;
}
body .content .zfb a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
body .logout {
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  background-color: #fff;
  text-align: center;
  color: #4787cf;
  margin-top: 0.2rem;
  font-size: 0.28rem;
}
