<extend name="Public/base"/>
<block name="content">
  <div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">购买矿机列表</strong>  <small></small></div>
      </div>

      <hr>

      <form class="am-g" action="{:U()}" method="get">
        <div class="am-u-sm-12 am-u-md-1">
          <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
              <a href="{:U('user/exportDiscover')}" type="button" class="am-btn am-btn-primary"><span class="am-icon-plus"></span>导出列表</a>
            </div>
          </div>

        </div>
        <!--<div class="am-u-sm-12 am-u-md-1">-->
          <!--<div class="am-btn-toolbar">-->
            <!--<div class="am-btn-group am-btn-group-xs">-->
              <!--<a href="{:U('user/exportOrder1')}" type="button" class="am-btn am-btn-primary"><span class="am-icon-plus"></span>提现已处理</a>-->
            <!--</div>-->
          <!--</div>-->

        <!--</div>-->
        <div class="am-u-sm-12 am-u-md-2">
          <input type="text" class="am-form-field" name="start_time"  value="{$start_time}" placeholder="开始时间" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',readOnly:true})" readonly/>
        </div>
        <div class="am-u-sm-12 am-u-md-2">
          <input type="text" class="am-form-field" name="end_time"  value="{$end_time}" placeholder="结束时间" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',readOnly:true})" readonly/>
        </div>
        <div class="am-u-sm-12 am-u-md-2">
          <div class="am-input-group am-input-group-sm">
            <input type="text" class="am-form-field" name="username" value="{$username}" placeholder="会员用户名">
          </div>
        </div>
        <!--<div class="am-u-sm-12 am-u-md-2">-->
          <!--<div class="am-form-group">-->
            <!--<select data-am-selected="{btnSize: 'sm'}" name="status">-->
              <!--<option value="1" <php>if($status == 1) echo 'selected'</php>>待审核</option>-->
              <!--<option value="2" <php>if($status == 2) echo 'selected'</php>>通过</option>-->
              <!--<option value="3" <php>if($status == 3) echo 'selected'</php>>驳回</option>-->
            <!--</select>-->
          <!--</div>-->
        <!--</div>-->
        <div class="am-u-sm-12 am-u-md-2">
          <div class="am-input-group am-input-group-sm">

            <span class="am-input-group-btn">
            <button class="am-btn am-btn-primary" type="submit">搜索</button>
          </span>
          </div>
        </div>
      </form>

      <div class="am-g">
        <div class="am-u-sm-12">
          <div class="am-form">
            <table class="am-table am-table-striped am-table-hover table-main">
              <thead>
              <tr>
                <th class="table-title">序号</th>
                <th class="table-title">用户名</th>
                <th class="table-title">手机号</th>
                <th class="table-type">金额</th>
                <!--<th class="table-type">纳税额</th>-->
                <!--<th class="table-type">到账金额</th>-->
                <!--<th class="table-type">状态</th>-->
                <!--<th class="table-author am-hide-sm-only">银行卡号</th>-->
                <!--<th class="table-date am-hide-sm-only">开户银行</th>-->
                <!--<th class="table-date am-hide-sm-only">银行支行</th>-->
                <!--<th class="table-date am-hide-sm-only">持卡人</th>-->
                <!--<th class="table-date am-hide-sm-only">微信</th>-->
                <!--<th class="table-date am-hide-sm-only">支付宝</th>-->
                <th class="table-date am-hide-sm-only">记录</th>
                <th class="table-date am-hide-sm-only">时间</th>
                <!--<th class="table-set">操作</th>-->
              </tr>
              </thead>
              <tbody>
              <empty name="data">
                <tr>
                  <td>暂无数据</td>
                </tr>
              </empty>
              <php>
                $tixian = C('TIXIAN_STATUS');
                $type = C('account_type');
              </php>
              <volist name="data" id="vo">
                <tr>
                  <td>{$key}</td>
                  <td><a href="#">{$vo['username']}</a></td>
                  <td>{$vo['phone']}</td>
                  <td>{$vo['amount']}</td>

                  <!--<td>{$vo['sxf']}</td>-->
                  <!--<td>{$vo['amount'] - $vo['sxf']}</td>-->
                  <!--<td>-->
                    <!--{$tixian[$vo['status']]}-->
                  <!--</td>-->
                  <!--<td class="am-hide-sm-only">-->
                      <!--{$vo['bank_num']}-->
                  <!--</td>-->
                  <!--<td class="am-hide-sm-only">-->
                    <!--{$vo['bank_name']}-->
                  <!--</td>-->

                  <!--<td class="am-hide-sm-only">-->
                    <!--{$vo['bank_tree']}-->
                  <!--</td>-->
                  <!--<td class="am-hide-sm-only">-->
                    <!--{$vo['bank_user']}-->
                  <!--</td>-->
                  <!--<td class="am-hide-sm-only">-->
                    <!--{$vo['weixin']}-->
                  <!--</td>-->
                  <!--<td class="am-hide-sm-only">-->
                    <!--{$vo['zfb']}-->
                  <!--</td>-->
                  <td class="am-hide-sm-only">
                  {$vo['tips']}
                  </td>
                  <td class="am-hide-sm-only">{$vo['create_time']|date="Y-m-d H:i:s",###}</td>
                  <!--<td>-->
                    <!--<if condition="$vo['status'] eq 1">-->
                      <!--<div class="am-dropdown" data-am-dropdown="">-->
                        <!--<button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle=""><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>-->
                        <!--<ul class="am-dropdown-content">-->
                          <!--<li><a href="{:U('doWithdraw',array('id'=>$vo['id'],'status'=>2))}">通过</a></li>-->
                          <!--<li><a href="{:U('doWithdraw',array('id'=>$vo['id'],'status'=>3))}">驳回</a></li>-->
                        <!--</ul>-->
                      <!--</div>-->
                      <!--<else/>-->

                    <!--</if>-->
                  <!--</td>-->
                </tr>
              </volist>
              </tbody>
            </table>
            <div class="am-cf">
              共 {$count} 条记录
              <div class="am-fr">
                <ul class="am-pagination">
                  {$page}
                  <!--<li class="am-disabled"><a href="#">«</a></li>-->
                  <!--<li class="am-active"><a href="#">1</a></li>-->
                  <!--<li><a href="#">2</a></li>-->
                  <!--<li><a href="#">3</a></li>-->
                  <!--<li><a href="#">4</a></li>-->
                  <!--<li><a href="#">5</a></li>-->
                  <!--<li><a href="#">»</a></li>-->

                </ul>
              </div>
            </div>
            <hr/>
        </div>

        </div>

      </div>
    </div>

    <footer class="admin-content-footer">
      <hr>
      <p class="am-padding-left">© 2019 AllMobilize, Inc. Licensed under MIT license.</p>
    </footer>

  </div>

</block>