<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=0,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="__WAPCSS__/wfxrecord.css">
    <link rel="stylesheet" href="__WAPCSS__/btcrecord.css">
    <link rel="stylesheet" href="__WAPCSS__/ltcrecord.css">
    <link rel="stylesheet" href="__WAPCSS__/ethrecord.css">
    <script src="__WAPJS__/1.js"></script>
</head>
